<div>game page</div>

{{!-- All the buttons for our different choices --}}
<div>
    <h1>{{villain.villain_name}}</h1>
    <img src="/images/{{villain.filename}}" alt="{{villain.description}}">
</div>
<input type="hidden"id="progress" value ={{progress}}>
<form>
    {{#each villain.questions}}
  <fieldset>
    <legend>{{question}}</legend>
    <div>
        {{!-- Eventually want this to be a for loop for all choices for any given question --}}
      <input type="radio" id="contactChoice1" name="{{answer}}" value="{{choice1}}" />
      <label for="contactChoice1">{{choice1}}</label>

      <input type="radio" id="contactChoice2" name="{{answer}}" value="{{choice2}}" />
      <label for="contactChoice2">{{choice2}}</label>

      <input type="radio" id="contactChoice3" name="{{answer}}" value="{{choice3}}" />
      <label for="contactChoice3">{{choice3}}</label>

      <input type="radio" id="contactChoice4" name="{{answer}}" value="{{choice4}}" />
      <label for="contactChoice4">{{choice4}}</label>
    </div>
   
  </fieldset>
  {{/each}}
   <div>
      <button type="submit" >Submit</button>
    </div>
</form>

<script src="/assets/js/playgame.js"></script>