<body class="playgameBackground">
<div class="villainInfo">
    <h1>{{villain.villain_name}}</h1>
    <img src="/images/{{villain.filename}}" alt="{{villain.description}}">
    <div>
      <p class="systemText">Wild {{villain.villain_name}} appeared!</p>
      <p class="systemText">Answer all the questions correctly selecting the answer below to defeat the enemy!!</p>
      <h2 class="difficultText">Enemy level: <span class="difficultLevel">{{villain.questions.1.difficult}}</span></h2>
    </div>
</div>
<input type="hidden"id="progress" value ={{progress}}>
<form>
    {{#each villain.questions}}
  <fieldset>
    <legend>{{question}}</legend>
    <div class="villainQuestions">
        {{!-- Eventually want this to be a for loop for all choices for any given question --}}
      <input type="radio" id="contactChoice1" name="{{answer}}" value="{{choice1}}" />
      <label for="contactChoice1">{{choice1}}</label>

      <input type="radio" id="contactChoice2" name="{{answer}}" value="{{choice2}}" />
      <label for="contactChoice2">{{choice2}}</label>

      <input type="radio" id="contactChoice3" name="{{answer}}" value="{{choice3}}" />
      <label for="contactChoice3">{{choice3}}</label>

      <input type="radio" id="contactChoice4" name="{{answer}}" value="{{choice4}}" />
      <label for="contactChoice4">{{choice4}}</label>
    </div>
   
  </fieldset>
  {{/each}}
   <div class="questionSubmit">
      <button type="submit" id="submitBtn" >Submit</button>
    </div>
</form>
</body>
<script src="/assets/js/playgame.js"></script>